<div class="container">
    <div style="min-height: 90vh; background-color: #121212; padding: 2em;">
        <div class="row justify-content-center">
            <div class="col" style="padding-top: 1em; padding-bottom: 2em;">
              <h2 style="color: white;">Edit Event</h2>
            </div>
          </div>

        <form [formGroup]="eventForm">

            <!-- Title -->
        
            <div class="form-floating mb-3" style="margin-top: 2em;">
                <input type="text" class="form-control form-control-lg" id="floatingTitleInput" formControlName="title" placeholder="Enter title">
                <label for="floatingTitleInput">Title</label>
            </div>
        
            <!-- Summary -->
        
            <div class="form-floating" style="margin-top: 2em;">
                <textarea class="form-control" placeholder="Summary" formControlName="summary" id="floatingTextarea" style="height: 100px"></textarea>
                <label for="floatingTextarea">Summary</label>
            </div>
    
            <!-- Dates -->
    
            <h3 style="color: white; margin-top: 1em;">Dates</h3>
    
            <div class="row">
                <div class="col-sm-4">
                    <label for="startDate" class="form-label" style="color: white;">Select start date</label>
                    <input type="date" id="startDate" class="form-control" formControlName="startDate" (change)="updateStartDate($event)">
                </div>
                <div class="col-sm-4">
                    <label for="endDate" class="form-label" style="color: white;">Select end date</label>
                    <input type="date" id="endDate" class="form-control" formControlname="endDate" (change)="updateEndDate($event)">
                </div>
            </div>
    
            <!-- <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-light" id="saveDatesButton" style="margin-top: 1em;" (click)="getDatesInRange()">Save Dates</button>
                </div>
            </div> -->
    
            <!-- Artwork -->
        
            <h3 style="color: white; margin-top: 1em;">Artwork</h3>
        
            <div class="row" style="margin-bottom: 2em;">
                <div class="col col-sm-6 col-md-4 col-lg-4" *ngFor="let artPiece of eventArtPieces" (click)="clicked(artPiece)">
                    <div class="card">
                        <img class="card-img-top" src={{artPiece.primaryImageSmall}} alt="Card image cap">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10">
                                    <h5 class="card-title">{{artPiece.title}}</h5>
                                    <p class="card-text">{{artPiece.artistDisplayName}}</p>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="close material-icons close-btn dark" (click)="removeArtPieceFromEvent(artPiece)">close</button>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row" style="margin-bottom: 2em">
                <div class="col">
                    <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" style="margin-right: 1em;">Add Art</button>
                    <button class="btn btn-outline-light" (click)="updateEvent()">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" style="color: white">Select art</h5>
          <button type="button" class="close material-icons close-btn" data-bs-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">&times;</span> -->
            close
          </button>
        </div>
        <div class="modal-body">

            <form [formGroup]="galleryForm" (ngSubmit)="onSubmit()">
                <div class="row" style="padding-top: 2em; padding-bottom: 2em;">
                    <div class="col">

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter Query" aria-label="Enter Query" aria-describedby="submitButton" formControlName="query" required>
                            <button class="btn btn-outline-light" type="submit" id="submitButton">Search</button>
                        </div>

                        <!-- <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" formControlName="query" placeholder="" required>
                            <label for="floatingInput">Query</label>
                        </div> -->

                    </div>
                </div>
            </form>

            <div class="row g-5">
                <div *ngFor="let artPiece of artPieces" (click)="clicked(artPiece)" class="col-6"> <!-- (click)="clicked(stack)" -->
                    <img *ngIf="artPiece.primaryImageSmall" [ngStyle]="{'display': artPiece.primaryImageSmall ? 'true' : 'none'}" class="img-thumbnail" src={{artPiece.primaryImageSmall}} alt="Artwork">
                </div>
            </div>



        </div>
        <div class="modal-footer">
            <h5 style="color: white">{{selectedArtPiece?.title}}</h5>
            <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline-light" (click)="addArtPieceToEvent()">Add</button>
        </div>
      </div>
    </div>
  </div>


