<div style="min-height: 80vh">
    <div class="row">
        <div class="col" style="margin-top: 2em; margin-bottom: 2em;">
            <form [formGroup]="galleryForm" (ngSubmit)="onSubmit()">
                <div class="row g-2">
                    <div class="col-10">
        
                        <input type="search" class="form-control" aria-label="Search" placeholder="Search" formControlName="query">
    
            
                        <!-- <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="query" formControlName="query"> -->
            
            
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
    <div class="row g-5">
    
        <div *ngFor="let artPiece of artPieces" class="col-3"> <!-- (click)="clicked(stack)" -->
    
            <img class="img-thumbnail" src={{artPiece.primaryImageSmall}} alt="Artwork">
    
            <!-- <div class="card text-white bg-dark">
                <img class="card-img-top" src={{artPiece.primaryImageSmall}} alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{artPiece.title}}</h5>
                <p class="card-text">{{artPiece.artistDisplayName}}</p>
                <a href="#" class="btn btn-light">Details</a>
                </div>
            </div> -->
    
        </div>
    </div>
</div>








