<div class="container"> 
    <div style="min-height: 90vh; background-color: #121212; padding: 2em; position: relative;">
        <div class="row justify-content-center">
            <div class="col-4" style="text-align: center; padding-top: 1em;">
            <h2 style="color: white;">Gallery</h2>
            </div>
        </div>

        <div class="row">
            <div class="col" style="margin-top: 2em; margin-bottom: 2em;">
                <form [formGroup]="galleryForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <input type="search" class="form-control" placeholder="Search" aria-label="Search" formControlName="query" aria-describedby="searchButton">
                                <button class="btn btn-outline-light" type="submit" id="searchButton">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        
        <div class="row g-5" style="margin-bottom: 2em;">
        
            <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-xl-3" *ngFor="let artPiece of artPieces | paginate: { itemsPerPage: 5, currentPage: page, totalItems: totalLength }"> <!-- (click)="clicked(stack)" -->
        
                <div class="card">
                    <img class="img-thumbnail image" src={{artPiece.primaryImageSmall}} alt="Artwork">
                    <div class="middle">
                        <div *ngIf="artPiece.artistDisplayName" class="text">{{artPiece.title}} by {{artPiece.artistDisplayName}}</div>
                        <div *ngIf="!artPiece.artistDisplayName" class="text">{{artPiece.title}}</div>
                    </div>
                </div>

        
                <!-- <div class="card text-white bg-dark">
                    <img class="card-img-top" src={{artPiece.primaryImageSmall}} alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{artPiece.title}}</h5>
                    <p class="card-text">{{artPiece.artistDisplayName}}</p>
                    <a href="#" class="btn btn-light">Details</a>
                    </div>
                </div> -->
        
            </div>
        </div>
        <pagination-controls *ngIf="this.artPieces.length != 0" class="text-center" (pageChange)="page = $event" style="position: absolute; bottom: 0;"></pagination-controls>
    </div>
</div>








